* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 920px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container {

        h1 {
            width: 90%;
            font-size: 3rem;
            text-align: center;
            margin: 0 auto;
            font-family: $main_font;
        }
}

img {
    width: 90%;
    display: block;
    margin: auto;
}

.mfg_home,
.proyectos_page,
.contacto_page {
    position: relative;
    background-color: $color_verde_fondo;
    overflow-y: visible;
    transition: .4s ease all;

    &.light {
        background-color: $color_fondo_light;

        p {
            color: $color_parrafo_light;
        }

        .webs-compatibilidad,
        .pags_dominio_hosting,
        .tuSitioWeb_hosting,
        .incluir_servidor {

                p {
                    color: $color_parrafo_light;
                }
        }

        .incluir_servidor {

            .incluir,
            .excluir,
            .servidor {

                    h3 {
                        color: $color_h1_h3_light;
                    }

                    ul {

                            li {
                                color: $color_li_light;
                                position: relative;
                                margin: .5rem 0;

                                    .color_azul {
                                        letter-spacing: 1.3px;
                                    }
                            }
                    }

                    
            }
        }

        .proyectos_page_section {

                h1 {
                   color: $color_h1_h3_light;
                }

                h3 {
                    color: rgb(145, 14, 14);
                }
        }

        .container {
            color: $color_h1_h3_light;
        
                #formulario-contacto {
        
                        form {
        
                                select, input, textarea {
                                    border-bottom: 1.5px solid $color_parrafo_light;
                                }
                        }
                        
                        div#resultado {
                            width: 100%;
                            height: auto;
                            margin: 1em auto;
                            text-align: left;
                            font-weight: bold;
                            background-color: #333;
                            padding: 20px;
                        }
                }

                #captcha_inputs-error {
                
                        #validaciones {
                
                                p {
                                    text-shadow: none;
                                }
                        }
                }
        
        }

        .base-H1 {
        
                span {
                    background-color: rgb(0, 0, 0);
                }
        }
    }
}

.next_page {
    text-decoration: none;
    position: absolute;
    z-index: 2000;

        i {
            position: fixed;
            bottom: 2%;
            right: 2%;
            font-size: 1.5rem;
            color: #fff;
            background-color: #B8405E;
            padding: 1rem;
            border-radius: 50%;
        }

        i:hover {
            background-color: #af123a;
        }
}

/*    LOS ESTILOS DE LA .base-H1    */

.base-H1 {
    position: relative;
    width: 80%;
    height: 20px;
    margin: 1rem auto 0;
    transition: 1.2s ease-in-out all;
    background-color: rgba(0, 0, 0, 0.062);

        span {
            position: absolute;
            height: 100%;
            background-color: rgb(255, 255, 255);
            opacity: 1;
            transition: 1.2s ease-in-out all;
        }
}

span.rellenar_interior {
    width: 100%;
    animation-delay: .5s;
    animation: 3.5s rellenar;
}

@keyframes rellenar {
    0% {
        width: 0%;
        margin-left: 0;
    }

    100% {
        width: 100%;
        margin-right: 0;
    }
}

/*    / LOS ESTILOS DE LA .base-H1    */


// LINK DE WHATSAPP

.whatsapp {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15%;
    max-width: 60px;
    right: 1%;
    bottom: 6.5%;
    text-align: center;
    z-index: 10;

        img {
            order: 1;
            margin-bottom: .25rem;
        }

        a {
            order: 2;
            color: rgb(255, 255, 255);
            text-decoration: none;
            background-color: #517A49;
            font-size: .65rem;
            padding: .5rem;
            border-radius: 5%;
            text-transform: uppercase;
            letter-spacing: 1px;
            // word-wrap: break-word;
        }

        a:hover {
            background-color: #44663d;
        }
}

// LINK DE WHATSAPP

footer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0 0.65rem;
    text-align: center;

        .legal {

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: capitalize;
                    padding: 0 .5rem;
                    color: #000;
                    font-weight: bold;
                }

                a:hover {
                    color: #0f0f0f;
                    text-decoration: underline;
                }
        }

        #copy {
            font-family: $font-banks;
            font-weight: bold;
            font-size: 1.25rem;
            margin: .75rem 0;
        }
}

p {
    color: #F1D1B5;
}

#maquina-Escribir_sitioWeb,
#maquina-Escribir_hosting,
#maquina-Escribir1,
#maquina-Escribir2,
#maquina-Escribir3 {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    padding-right: .25rem;
    animation: 1s cursor_intermitente infinite;
}

@keyframes cursor_intermitente {
    0% {
        border-right: 3px solid #000;
    }

    50% {
        border-right: none;
    }

    100% {
        border-right: 3px solid #000;
    }
    
}