/* PROYECTOS */
    
.proyectos_page_section {
    // margin: 90px 0 0;
    // color: rgb(116, 56, 56);
    // color: #F18C8E;
    // font-family: $main_font;

        // h1 {} estilos en generales.scss

        /*    LOS ESTILOS DE LA .base-H1 ESTÁN EN LOS ESTILOS GENERALES    */


        .section-p {
            width: 90%;
            max-width: 920px;
            font-size: .9rem;
            margin: 0 auto 2rem;
            padding: 1rem 2rem;
            text-align: center;
        }

        .section_index {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            // margin: 0;
            // padding: 0;

                .webs-globos {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    // margin: 0;
                    // padding: 0;

                        .webs-globos-titulo {
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            // margin: 0;
                            // padding: 0;

                                .orden-imgs {
                                    width: 100%;
                                    height: auto;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-around;
                                    margin: 0 auto;
                                    padding: 0;
                                    text-align: center;

                                        h3 {
                                            width: 100%;
                                            max-width: 920px;
                                            line-height: 40px;
                                            margin: 0 auto;
                                            padding: 0;
                                            font-family: $font-banks-sans_serif;
                                            background-color: #305F72;
                                            color: #F1D1B5;
                                        }                                        

                                        img {
                                            width: 70%;
                                            max-width: 130px;
                                            margin: 1.5rem auto;
                                            padding: 0;
                                        }
                                }
                        }

                        p {
                            width: 90%;
                            max-width: 920px;
                            height: auto;
                            border-radius: 8px;
                            text-align: center;
                            font-size: .9rem;
                            margin: 0 auto;
                            padding: 0 1rem;
                        }
                }
        }

        .contenedor_padre-proyectos {
            width: 95%;
            height: auto;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

                .div-proyectos {
                    width: 100%;
                    margin: 1.5rem auto;
                    display: flex;
                    flex-direction: column;
                    color: #fff;
                    text-align: center;
                    // transform: scale(.2);

                        h2 {
                            width: 90%;
                            // height: 60px;
                            font-size: 1rem;
                            border-radius: 10px 10px 0 0;
                            // margin: 10% auto -11%;
                            margin: 0 auto;
                            padding: 10px 20px;
                            // display: inline-block;
                            position: relative;
                            z-index: 1;
                            font-weight: normal;
                            letter-spacing: 1px;
                        }

                        .proyectos {
                            position: relative;
                            width: 90%;
                            // min-width: 220px;
                            max-height: 220px;
                            font-family: $main_font;
                            overflow: hidden;
                            margin: 0 auto;
                            background-color: #000000;
                            z-index: 2;

                                img {
                                    width: 100%;
                                    position: relative;
                                    transition: opacity 0.35s;
                                    opacity: 1;
                                }

                                figcaption {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    text-align: left;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    margin: auto;

                                        .left {
                                            width: 100%;
                                            opacity: 1;

                                                h3 {
                                                    width: 70%;
                                                    height: auto;
                                                    font-size: .9rem;
                                                    margin: 7% 15%;
                                                    padding: 4px 35px;
                                                    text-align: center;
                                                    border-radius: 5px;
                                                    transform: translate(100%, 0px);
                                                    letter-spacing: 2px;
                                                }
                                        }
                                }

                                .center {
                                    position: absolute;
                                    display: inline-block;
                                    content: '';
                                    top: 80%;
                                    left: 50%;
                                    width: 70px;
                                    text-align: center;
                                    transform: translate(-50%, -50%) rotate(80deg);
                                    transition: ease-in-out all 0.4s;
                                    opacity: 0;

                                        i {
                                            font-size: 2rem;
                                            padding: .5rem;
                                            color: #fff;
                                            line-height: 70px;
                                            opacity: 1;
                                        }
                                }

                                a {
                                    position: absolute;
                                    opacity: .7;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;

                                        :hover {
                                            opacity: 1;
                                        }
                                }
                        }
        
                        figure.proyectos:hover img {
                            opacity: 0.2;
                            transition: .7s;
                            -webkit-transform: scale(1.5);
                            transform: scale(1.5);
                        }
                        
                        figure.proyectos:hover figcaption .left h3 {
                            opacity: 1;
                            -webkit-transform: translate(0%, 0px);
                            transform: translate(0%, 0px);
                        }
                        
                        figure.proyectos:hover .center {
                            opacity: 1;
                            -webkit-transform: translate(-50%, -50%) rotate(45deg);
                            transform: translate(-50%, -50%) rotate(0deg);
                        }
                        
                        figure.proyectos:hover .center i {
                            -webkit-transform: translate(0%, -10px);
                            transform: translate(0%, -10px);
                        }
                }
        }
}

.contenedor_padre-proyectos div {
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	

	opacity: 0;
	transform: scale(0.9) translateX(-200);
	transition: .7s ease-in-out all;
}

.contenedor_padre-proyectos div.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}

.contenedor_padre-proyectos div.visible .h2-proyectos {
    background-color: #F55353;
}

// .contenedor_padre-proyectos div.girar {
//     // transform: scale(2);
//     transform: scale(.99);
// }

.contenedor_padre-proyectos div.girar {
    // estos serían los paramentros
    // animation-duration: 3s;
    // animation-iteration-count: infinite;
    // animation-direction: alternate;
    // animation-name: slidein;

    // pero los pasamos todos en una sola linea de codigo
    animation: 3.2s alternate girar_animation;
}

@keyframes girar_animation {
    0% {
        margin-left: 100%;
        // width:300%
    }
    
    100% {
        margin-left: 0%;
        // width:100%;
    }

    35% {
        margin-left: 35%;
    }

    0% {
        margin-left: 100%;
        // width:300%
    }

    15% {
        margin-left: 10%;
    }

    0% {
        margin-left: 100%;
        // width:300%
    }
}
